{% extends 'admin/layout.njk' %}

{% block content %}
    <main>
        <form action="/admin/chefs" method="POST">
            <div class="title">
                <h2>Criando chef</h2>
                <button type="submit" class="button">Salvar chef</button>
            </div>
            <div class="content">
                {% include './fields.njk' %}
            </div>
        </form>
    </main>
{% endblock %}