{% extends 'admin/layout.njk' %}

{% block content %}
    <main>
        <div class="title">
            <h2>Gerenciar chefs</h2>
            <a href="/admin/chefs/create" class="button">Novo chef</a>
        </div>
        <section id="chefs" class="admin">
            <div id="cards">

                {% for chef in chefs %}
                    <div class="card admin chef">
                        <img src="{{ chef.avatar_url }}" alt="Imagem de {{ chef.name }}">
                        <div class="info">
                            <h3>{{ chef.name }}</h3>
                            <a href="/admin/chefs/{{ chef.id }}">Visualizar</a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </section>
    </main>
{% endblock %}