<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head %}
            <title>Foodfy - Admin</title>
        {% endblock %}
        <link rel="stylesheet" href="/styles.css"/>
    </head>

    <body>
        <header class='admin'>
            <nav>
                <div class="nav-container">
                    <a href="/admin"><img src="/assets/logo-white.png" alt="Logo Foodfy"></a>
                    <ul>
                        <li>
                            <a href="/admin/recipes">RECEITAS</a>
                        </li>
                        <li>
                            <a href="/admin/chefs">CHEFS</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        {% block content %}{% endblock %}

        <script src="/scripts.js"></script>
    </body>

</html>