{% extends 'site/layout.njk' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block content %}
    <section id="panel">
        <div>
            <h1>As melhores receitas</h1>
            <p>
                Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
            </p>
        </div>
        <img src="/assets/chef.png" alt="Ilustração de um Chef">
    </section>
    <main>
        <section id="recipes">
            <h2>Mais acessadas</h2>
            <div id="cards">

                {% for recipe in recipes %}
                    <div class="card" id="{{ recipe.id }}">
                        <img src="{{ recipe.images[0].src }}" alt="Imagem de {{ recipe.title }}">
                        <div class="info">
                            <h3>{{ recipe.title }}</h3>
                            <p class="author">por
                                {{ recipe.chef_name }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </section>
    </main>
{% endblock %}