{% extends 'site/layout.njk' %}

{% block head %}
    <title>{{ recipe.title }}</title>
{% endblock %}

{% block content %}
    <main id="details">
        {% include 'recipe-details.njk' %}
    </main>
{% endblock %}