{% extends 'site/layout.njk' %}

{% block head %}
    <title>Página não encontrada</title>
{% endblock %}

{% block content %}
    <main>
        <h1 id="not-found">404 - Página não encontrada!</h1>
    </main>
{% endblock %}