@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #111;
    position: relative;
    min-height: 100vh;
    padding-bottom: 62px;
}

header, main {
    width: 940px;
    margin: 0 auto;
}

main {
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 28px;
}

/* === NAVIGATION === */

header nav {
    width: 50%;
    padding: 30px 0;
    display: flex;
}

header nav a {
    color: black;
    text-decoration: none;
    min-height: 26px;
    font-size: 16px;
    line-height: 26px;
}

header nav div {
    display: inline-block;
    width: 100%;
    text-align: center;
}

header nav div a {
    margin: 0 15px;
}

header nav div a.active {
    font-weight: bold;
}

header nav div a:hover {
    font-weight: bold;
}

/* === PANEL === */

#panel {
    width: 100%;
    height: 366px;
    background-color: #FBDFDB;
    border-radius: 30px;
    position: relative;
    margin-bottom: 50px;
}

#panel div {
    position: absolute;
    width: 316px;
    margin: 117px 60px;
}

#panel div h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

#panel div p {
    color: #000;
    opacity: 0.7;
}

#panel img {
    position: absolute;
    bottom: 0;
    right: 100px;
}

/* === CARDS === */

#recipes {
    padding-bottom: 20px;
}

#recipes h2 {
    margin-bottom: 20px;
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card img{
    width: 100%;
    border-radius: 15px;
}

.card .info h3 {
    font-size: 18px;
    font-weight: initial;
    margin-top: 20px;
}

.card .info p {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* === FOOTER === */

footer {
    width: 100%;
    background-color: #EEE;
    text-align: center;
    padding: 23px 0;
    position: absolute;
    bottom: 0;
}

footer p {
    font-size: 14px;
    line-height: normal;
    color: #999;
}

/* === ABOUT === */

article {
    margin-top: 20px;
}

article p {
    padding-bottom: 30px;
}