{% extends 'admin/layout.njk' %}

{% block content %}
    <main>
        <form action="/admin/recipes" method="POST" enctype="multipart/form-data">
            <div class="title">
                <h2>Criando receita</h2>
                <button type="submit" class="button">Salvar receita</button>
            </div>
            <div class="content">
                {% include './fields.njk' %}
            </div>
        </form>
    </main>
{% endblock %}