{% extends 'admin/layout.njk' %}

{% block content %}
    <main>
        <div class="title">
            <h2>Editando receita</h2>
            <div class="buttons">
                <button type="submit" class="button delete" form="delete">Deletar</button>
                <button type="submit" class="button" form="update">Salvar receita</button>
            </div>
        </div>
        <form id="update" action="/admin/recipes?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="content">
                {% include './fields.njk' %}
            </div>
            <input type="hidden" name="id" value="{{ recipe.id }}">
        </form>
        <form id="delete" action="/admin/recipes?_method=DELETE" method="POST">
            <input type="hidden" name="id" value="{{ recipe.id }}">
        </form>
    </main>
    <script>
        document.querySelector('form#delete')
                .addEventListener('submit', event => {
                    const confirmation = confirm('Desejar realmente deletar?')

                    if (!confirmation) {
                        event.preventDefault()
                        method = 'PUT'
                    }
                })
    </script>
{% endblock %}