<p class="label">Imagem da receita</p>
<input
    type="url"
    name="image"
    placeholder="https://"
    value="{{ recipe.image }}"
>

<p class="label">Chef</p>
<div class="select">
    <select name="chef_id" required>
        <option value="" selected disabled hidden>
            Selecione um chef
        </option>
        
        {% for chef in chefs %}
            <option
                value="{{ chef.id }}"
                {% if chef.id == recipe.chef_id %}
                    selected
                {% endif %}
            >{{ chef.name }}</option>
        {% endfor %}
    </select>
    <span class="material-icons">
        keyboard_arrow_down
    </span>
</div>

<p class="label">Nome da Receita</p>
<input type="text" name="title" value="{{ recipe.title }}">

<p class="label">Ingredientes</p>
<div class="ingredients">
    {% if recipe %}
        {% for ingredient in recipe.ingredients %}
            <input type="text" name="ingredients[]" value="{{ ingredient }}">
        {% endfor %}
    {% else %}
        <input type="text" name="ingredients[]">
    {% endif %}
</div>
<button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

<p class="label">Modo de preparo</p>
<div class="preparation">
    {% if recipe %}
        {% for steps in recipe.preparation %}
            <input type="text" name="preparation[]" value="{{ steps }}">
        {% endfor %}
    {% else %}
        <input type="text" name="preparation[]">
    {% endif %}
</div>
<button type="button" class="add-step">Adicionar novo passo</button>

<p class="label">Informações adicionais</p>
<textarea name="information">{{ recipe.information }}</textarea>