{% extends './layout.njk' %}

{% block content %}
    <main id="recipe-details">
        <div class="title">
            <h2>Receita:
                {{ recipe.title }}</h2>
            <a href="/admin/recipes/{{ recipe.id }}/edit" class="button">Editar receita</a>
        </div>
        {% include 'recipe-details.njk' %}
    </main>
{% endblock %}