@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

/* === DEFAULT === */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #111;
    position: relative;
    min-height: 100vh;
    padding-bottom: 62px;
}

header, main, #panel {
    width: 940px;
    margin: 0 auto;
}

main {
    padding: 20px 0;
}

p {
    font-size: 18px;
    line-height: 28px;
}

a {
    text-decoration: none;
}

a:hover, a.active {
    font-weight: bold;
}

/* === HEADER === */

header {
    padding: 30px 0;
}

header nav {
    width: 50%;
    display: flex;
}

header nav ul {
    display: inline-block;
    width: 100%;
    text-align: center;
}

header nav ul li {
    display: inline;
    list-style: none;
    margin: 0 15px;
}

header nav ul a {
    color: black;
    font-size: 16px;
    line-height: 26px;
}

/* === PANEL === */

#panel {
    height: 366px;
    background-color: #FBDFDB;
    border-radius: 30px;
    position: relative;
    margin-bottom: 30px;
}

#panel div {
    position: absolute;
    width: 316px;
    margin: 117px 60px;
}

#panel div h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

#panel div p {
    color: rgba(0, 0, 0, 0.7);
}

#panel img {
    position: absolute;
    bottom: 0;
    right: 100px;
}

/* === CARDS === */

#recipes, #recipes h2 {
    padding-bottom: 20px;
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    cursor: pointer;
}

.card img{
    width: 100%;
    border-radius: 15px;
}

.card .info h3 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
}

.info p {
    font-size: 14px;
    line-height: initial;
    color: #777;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* === FOOTER === */

footer {
    width: 100%;
    background-color: #EEE;
    text-align: center;
    padding: 23px 0;
    position: absolute;
    bottom: 0;
}

footer p {
    font-size: 14px;
    line-height: normal;
    color: #999;
}

/* === ABOUT === */

article {
    margin-top: 20px;
}

article p {
    padding-bottom: 30px;
    color: #444;
}

/* === MODAL === */

#modal-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
}

#modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background-color: #fff;
    border-radius: 16px;
    width: 660px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.modal img {
    width: 600px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin: 20px;
}

.modal .info h3 {
    font-size: 24px;
    font-weight: normal;
}

.modal .info p {
    font-size: 18px;
}

.modal .close-modal {
    padding: 40px 0 20px;
}

.modal .close-modal a {
    font-size: 16px;
    color: #999;
    cursor: pointer;
}