@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

:root {
    --primary-action: #6558C3;
}

/* === DEFAULT === */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #111;
    position: relative;
    min-height: 100vh;
    padding-bottom: 62px;
}

nav, main, #panel {
    width: 940px;
    margin: 0 auto;
}

main {
    padding: 20px 0;
}

p {
    font-size: 18px;
    line-height: 28px;
}

a {
    text-decoration: none;
}

a:hover, a.active {
    font-weight: bold;
}

/* === HEADER === */

header {
    padding: 30px 0;
}

header .nav-container {
    width: 50%;
    display: flex;
    align-items: center;
}

header nav a img {
    display: block;
}

header nav ul {
    display: inline-block;
    width: 100%;
    text-align: center;
}

header nav ul li {
    display: inline;
    list-style: none;
    margin: 0 15px;
}

header nav ul a {
    color: black;
    font-size: 16px;
    line-height: 26px;
}

/* === PANEL === */

#panel {
    height: 366px;
    background-color: #FBDFDB;
    border-radius: 30px;
    position: relative;
    margin-bottom: 30px;
}

#panel div {
    position: absolute;
    width: 316px;
    margin: 117px 60px;
}

#panel div h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

#panel div p {
    color: rgba(0, 0, 0, 0.7);
}

#panel img {
    position: absolute;
    bottom: 0;
    right: 100px;
}

/* === CARDS === */

#recipes, #recipes h2 {
    padding-bottom: 20px;
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    cursor: pointer;
}

.card img{
    width: 100%;
    height: 88px;
    object-fit: cover;
    border-radius: 15px;
}

.card .info h3 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
}

.info p {
    font-size: 14px;
    line-height: initial;
    color: #777;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* === FOOTER === */

footer {
    width: 100%;
    background-color: #EEE;
    text-align: center;
    padding: 23px 0;
    position: absolute;
    bottom: 0;
}

footer p {
    font-size: 14px;
    line-height: normal;
    color: #999;
}

/* === ABOUT === */

article {
    margin-top: 20px;
}

article p {
    padding-bottom: 30px;
    color: #444;
}

/* === DETAILS === */

#details-header {
    margin-bottom: 50px;
}

#details-header img {
    width: 940px;
    height: 280px;
    border-radius: 15px;
    object-fit: cover;
}

#details-header .info {
    margin-top: 50px;
    text-align: center;
}

#details-header .info h1 {
    font-size: 36px;
    font-weight: bold;
}

#details-header .info p {
    font-size: 20px;
}

#details h2 {
    display: inline;
}

#details .content {
    margin: 20px 0 30px;
    font-size: 18px;
    line-height: 28px;
    color: #444;
    opacity: 1;
    visibility: visible;
}

#details ul {
    list-style-position: inside;
}

#information p {
    white-space: pre-line;
}

#details .content.hidden,
#details .content.hidden * {
    height: 0;
    opacity: 0;
    visibility: hidden;
    line-height: 0;
}

#details .show-hide a {
    color: #999;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

/* === ADMIN === */

header.admin {
    background-color: black;
    margin-bottom: 30px;
}

#recipes.admin #cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.card.admin {
    cursor: initial;
    display: flex;
}

.card.admin img {
    height: 80px;
    width: 172px;
    object-fit: cover;
    margin-right: 20px;
}

.card.admin h3 {
    margin: 0;
}

.card.admin .info a {
    color: var(--primary-action);
    font-weight: bold;
    font-size: 14px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button {
    background-color: var(--primary-action);
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
}

form .label {
    font-weight: bold;
    font-size: 16px;
    line-height: initial;
    margin-bottom: 10px;
}

form select,
form textarea,
form input {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    padding: 15px 20px;
    outline: none;
    resize: none;
    background-color: transparent;
}

form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:invalid {
    color: gray;
  }

.select {
    position: relative;
}

.select span {
    color: #999;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 1;
    pointer-events: none;
}

select option {
    color: #111;
}

form textarea {
    height: 250px;
}

.label {
    margin-top: 30px;
}

form button {
    outline: none;
    background: none;
    color: var(--primary-action);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

div + button, input + input {
    margin-top: 15px;
}

.buttons {
    display: flex;
}

.buttons .delete {
    background-color: #DC4747;
    margin-right: 10px;
}

.admin nav ul a {
    font-weight: bold;
    color: #999;
    font-size: 16px;
    line-height: 26px;
}

.admin a:hover, .admin a.active {
    color: white;
}

.card.admin.chef {
    align-items: center;
}

.card.admin.chef img {
    height: 64px;
    width: 64px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 50%;
}

.card.admin.chef h3 {
    margin-bottom: 8px;
}

.card.admin.chef .info a {
    color: var(--primary-action);
    font-weight: bold;
    font-size: 14px;
}

/* === DETAILS CHEF === */

#details-header.chef {
    text-align: center;
    height: auto;
}

#details-header.chef img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 30px;
}

#details-header.chef .info {
    margin-top: 30px;
}