@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root {
    --primary-action: #6558C3;
}

/* === DEFAULT === */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #111;
    position: relative;
    min-height: 100vh;
    padding-bottom: 62px;
}

nav, main, #panel {
    width: 940px;
    margin: 0 auto;
}

main {
    padding: 20px 0;
}

p {
    font-size: 18px;
    line-height: 28px;
}

a {
    text-decoration: none;
}

a:hover, a.active {
    font-weight: bold;
}

/* === HEADER === */

header {
    padding: 30px 0;
}

header .nav-container {
    width: 50%;
    display: flex;
    align-items: center;
}

header nav a img {
    display: block;
}

header nav ul {
    display: inline-block;
    width: 100%;
    text-align: center;
}

header nav ul li {
    display: inline;
    list-style: none;
    margin: 0 15px;
}

header nav ul a {
    color: black;
    font-size: 16px;
    line-height: 26px;
}

/* === PANEL === */

#panel {
    height: 366px;
    background-color: #FBDFDB;
    border-radius: 30px;
    position: relative;
    margin-bottom: 30px;
}

#panel div {
    position: absolute;
    width: 316px;
    margin: 117px 60px;
}

#panel div h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

#panel div p {
    color: rgba(0, 0, 0, 0.7);
}

#panel img {
    position: absolute;
    bottom: 0;
    right: 100px;
}

/* === CARDS === */

#recipes, #recipes h2 {
    padding-bottom: 20px;
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    cursor: pointer;
}

.card img{
    width: 100%;
    border-radius: 15px;
}

.card .info h3 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
}

.info p {
    font-size: 14px;
    line-height: initial;
    color: #777;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* === FOOTER === */

footer {
    width: 100%;
    background-color: #EEE;
    text-align: center;
    padding: 23px 0;
    position: absolute;
    bottom: 0;
}

footer p {
    font-size: 14px;
    line-height: normal;
    color: #999;
}

/* === ABOUT === */

article {
    margin-top: 20px;
}

article p {
    padding-bottom: 30px;
    color: #444;
}

/* === RECIPE DETAILS === */

#recipe-header {
    margin-bottom: 50px;
}

#recipe-header img {
    border-radius: 15px;
}

#recipe-header .info {
    margin-top: 50px;
    text-align: center;
}

#recipe-header .info h1 {
    font-size: 36px;
    font-weight: bold;
}

#recipe-header .info p {
    font-size: 20px;
}

#recipe-details h2 {
    display: inline;
}

#recipe-details .content {
    margin: 20px 0 30px;
    font-size: 18px;
    line-height: 28px;
    color: #444;
    opacity: 1;
    visibility: visible;
}

#recipe-details ul {
    list-style-position: inside;
}

#information p {
    white-space: pre-line;
}

#recipe-details .content.hidden,
#recipe-details .content.hidden * {
    height: 0;
    opacity: 0;
    visibility: hidden;
    line-height: 0;
}

#recipe-details a {
    color: #999;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

/* === Admin === */
header.admin {
    background-color: black;
    margin-bottom: 30px;
}

#recipes.admin #cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.card.admin {
    cursor: initial;
    display: flex;
}

.card.admin img {
    height: 80px;
    width: 172px;
    object-fit: cover;
    margin-right: 20px;
}

.card.admin h3 {
    margin: 0;
}

.card.admin .info a {
    color: var(--primary-action);
    font-weight: bold;
    font-size: 14px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    background-color: var(--primary-action);
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
}

form .label {
    font-weight: bold;
    font-size: 16px;
    line-height: initial;
    margin-bottom: 10px;
}

form textarea,
form input {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 24px;
    padding: 12px;
    outline: none;
    resize: none;
}

form textarea {
    height: 250px;
}

.label {
    margin-top: 30px;
}

form button {
    outline: none;
    background: none;
    color: var(--primary-action);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

div + button, input + input {
    margin-top: 15px;
}