<p class="label">Imagem da receita</p>
<input type="url" name="image" placeholder="https://">

<p class="label">Ingredientes</p>
<div class="ingredients">
    <input type="text" name="ingredients[]">
</div>
<button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

<p class="label">Modo de preparo</p>
<div class="preparation">
    <input type="text" name="preparation[]">
</div>
<button type="button" class="add-step">Adicionar novo passo</button>

<p class="label">Informações adicionais</p>
<textarea name="information"></textarea>